body {
   padding-top: 100px;
   background-image: radial-gradient(circle at 37.72% 119.64%, #be67ea 0, #9055ca 25%, #6341a5 50%, #392d80 75%, #0e1c5f 100%);}

.centrar{
   display: flex;
   justify-content: center;
}

h1{
   color: white;
   font-family: fantasy;
}

.Button{
   background: black;
   cursor: pointer; 
   border: none;
   padding: 16px 32px;
   color: white;
   font-size: 24px;
   font-weight: bold;
   position: relative;
   border-radius: 12px;
}

.Portada{
   background-color: black;
}



.w-100 {
    width: 100%!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}



.mamon{
   border-radius: 40px;
   
}



@keyframes glowing {
   0%{
      background-position: 0 0;
   }
   50% {
      background-position: 400% 0;
   }
   100%{
      background-position: 0 0;
   }
   
}




@media screen and (max-width: 600px){
   h2{
      color:white
      
   }
   .logo{
      position: static;
      left: 5px;

   }
   .ima1{
      position: static;
      right: 5px;
      width: 250px;
   }
   

   }

   