body {
   padding-top: 100px;
   background-image: radial-gradient(circle at 37.72% 119.64%, #be67ea 0, #9055ca 25%, #6341a5 50%, #392d80 75%, #0e1c5f 100%);
}

.centrar{
   display: flex;
   justify-content: center;
}

h1{
   color: white;
   font-family: fantasy;
}

.Button{
   background: black;
   cursor: pointer; 
   border: none;
   padding: 16px 32px;
   color: white;
   font-size: 24px;
   font-weight: bold;
   position: relative;
   border-radius: 12px;
}

.Portada{
   background-color: black;
}

.QR{
   background-color: rgb(55, 37, 99);
   
   height: 750px;

}


.resalta{
   background-color: rgb(175, 137, 247);
}


.w-100 {
    width: 100%!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}



.mamon{
   border-radius: 40px;
   
}


.Foto1{
   position: static;
   
   width: 50%;
}
.ima1{
   position: static;
   right: 5px;
   width:100%
}

.card-icon{
   width: 40%;
   background-color: transparent; 
   border: none
}



@media screen and (max-width: 600px){
   h2{
      color:white
      
   }
   .logo{
      position: static;
      width:100%

   }
   .Foto1{
      visibility: hidden;
      width: 0%;
   }

   .Fotos2{
      position: static;
      
      width: 90%;
   }

   .ima1{
      position: static;
      right: 5px;
      width: 250px;
   }
   .card-icon{
      width: 70%;
      background-color: transparent; 
      border: none
   }

   }



   

   