<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/cssPrincipal.css ">

</head>




<body>



    <div class="container-fluid container-full">




        <div class="row">
            <div class="col">

                <div class="col">
                    <img src="../static/img/sport-car.png" class="ima1" style="width: 150px;">
                </div>

                <div class="col">
                    <H1 style="color: #44307a;">DriverCapp, Pide un viaje, súbete y relájate.</H1>
                    <h2>Más seguridad, mayor calidad y una ciudad a tu alcance</h2>

                </div>
                <div class="col">
                    <center>
                        <a class="btn btn-primary Button" href="https://files.fm/f/9rr4bqmj4">Descargar</a>
                    </center>

                </div>


            </div>

            <div class="col">
                <img src="../static/img/app1.png" style="width: 350px;">
            </div>

        </div>
    </div>






    <div class="container">

        
            <div class="row mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
                style="background-color: transparent">
                <div class="col md-6 sm-12">
                    <div class="my-3 py-3">
                        <h2 class="display-5">Crea Tus Viajes</h2>
                        <p class="lead">Desde tu sede Duoc mas cercana</p>
                    </div>
                    <div class=" box-shadow mx-auto" style="width: 80%; height: 500px; border-radius: 21px 21px 0 0;">
                        <img src="../static/img/captura3.jpg" alt=""
                            style="overflow: hidden; width: 230px; height: 550px; border-radius: 21px; border:5px solid rgb(0, 0, 0);">
                    </div>
                </div>
                <div class="col-md-4 sm-12 my-3 py-3"> 
                    <h1 style="color: #44307a;"> <br> ¿Por qué usar la app de DriverCapp?</h1>
                    <h2 style="    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                ">DriverCapp, con su interfaz sencilla te permitirá encontrar un trasporte en tu sede cuando mas lo necesites </h2>
                    
                    <p style="flex-direction: column; color: #6441a5; font-weight: bold;"> <img src="../static/img/image_gps.svg" alt="" style="align-items: start; width: 30px; height: 30px;"> Con un sistema de geolocalización y seguimiento podrás encontrar siempre un conductor disponible para ti, como también podras ejercer como conductor si así lo deseas.</p>

                </div>
            </div>
            <div class="col-md-4 sm-12 my-3 py-3 resalta card">
                <h1> <br> Con nuestra app todo es mas sencillo para ti </h1>
                <h2>DriverCapp, con su interfaz sencilla te permitirá encontrar un trasporte en tu sede cuando mas lo
                    necesites </h2>
                <p> Con un sistema de geolocalización y seguimiento podrás encontrar siempre un conductor disponible
                    para ti, como también podras ejercer como conductor si así lo deseas, TE ESPERAMOS</p>

            </div>
        </div>




        <div class="row mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">



            <div class="col-md-4 sm-12 my-3 py-3 card resalta">
                <h1 style="color: #44307a;"> <br> Claridad y transparencia en los precios</h1>
                <h2 style="color: white;">DriverCapp, Siempre te mostrara el precio antes de aceptar el viaje para que tú decidas cómo
                    moverte por la ciudad. Sin sorpresas. </h2>
                <img src="../static/img/image_money.svg" alt="" style="align-items: start; width: 60px; height:
                    60px; margin-top: 30px;">

            </div>

            <div class="col md-6 sm-12">
                <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3"
                    style="border-radius: 20px; overflow: hidden; margin-right: 2px;">
                </div>
                <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
                    style="background-color: transparent">
                        <div class="my-3 p-3">
                        <h2 class="display-5" style="color: white;">Busca Viajes</h2>
                        <p class="lead" style="color: white;">Con las tarifas mas economicas</p>
                        </div>
                        <div class=" box-shadow mx-auto"
                        style="width: 80%; height: 500px; border-radius: 21px 21px 0 0;">
                        <img src="../static/img/captura4.jpg" alt=""
                            style="overflow: hidden; width: 230px; height: 500px; border-radius: 21px; border:5px solid rgb(0, 0, 0);">

                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="container-fluid">

        {% if IsMovile %}


        <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
            style="background-color: transparent">
            <div class="my-3 p-3">
                <p class="lead">Descargalo en tu Android</p>

            </div>
            <a class="btn btn-primary Button" href="https://files.fm/f/9rr4bqmj4">Descargar</a>


        </div>

        {% else %}

        <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
            style="background-color: transparent">
            <div class="my-3 p-3">
                <p class="lead">Descargalo en tu Android</p>
                <h2 class="display-5">Escanea el Codigo QR</h2>
            </div>
            <div class=" box-shadow mx-auto"  >
                <img src="../static/img/DescargaDriverCapp.png" style="width: 300px;" 
                    >
            </div>
        </div>

        {% endif %}




    </div>









    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>


        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
</body>

</html>